@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/IMG_5040.JPG);
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    color: black;
}



/* HOME HEADING || SECTION 1*/
.navbar-expand-md {
    background-color: deepskyblue;
    background-image: linear-gradient(to bottom, white, transparent);
}

.section1 {
    font-family: 'jost', sans-serif;
    color: white;
    font-weight: bold;
    background-attachment: fixed;
    text-align: center;
}


.section1 a:hover,
.section2 a:hover {
    transform: scale(1.1);
}


.section1 .collectibles {
    color: deepskyblue;
    text-shadow: 2px 2px black;
    font-weight: bold;
    padding: 30px 36px;
    font-size: 1.8rem;
}


.section1 p {
    font-size: 1.3rem;
}

.welcome {
    margin-top: 90px;
    margin-left: 20px;
}

.name {
    font-size: 45px;
}

.description {
    font-weight: lighter;
    color: white;
    font-size: smaller;
}

.glitch{
    display: inline-block;
    font-size: 1.4rem; 
    color: deepskyblue;
    text-shadow: 2px 2px black;
    line-height: 20px; 
    text-transform: capitalize;
    animation: glitch 1s infinite;
}

#pop-up {
    animation: drop 2s ease-out forwards;
}

.large{
    color: white;
    font-weight: lighter;
    font-size: larger;
}

@keyframes glitch{
    0%{transform: translate(0);}
    25%{transform: translate(-5px, 5px);}
    50%{transform: translate(5px, -5px);}
    75%{transform: translate(-5px, 5px);}
    100%{transform: translate(0);}
}

@keyframes drop {
    from {transform: translateY(-300px);}
    to {transform: translateY(50px);}
}



.span a {
    font-family: 'satisfy',  cursive;
    font-size: 20px;
    margin-top: 0px;
    color: black;
    font-weight: bold;
    background-color: deepskyblue;
    padding: 3px 60px;
    border-radius: 20px;
    text-decoration: none;
}




/* ABOUT PAGE || SECTION 2 */
.section2 {
    background-color: #e0f1fc;
    margin-top: 20px;
}

.separate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillPadding {
    margin-right: 50px;
}

.write-up {
    margin-top: -30px;
    position: relative;
    display: flex;
    justify-content: center;
}

.write-up2 {
    max-width: 1200px;
    padding: 50px;
}

.sideline{
    max-width: 1200px;
}

.myPic{
    height: 550px;
    width: 100%;
}

.write-up2 img {
    width: 80%;
}

.write-up2 p {
    line-height: 25px;
}

.flex {
    gap: 50px;
    text-align: justify;
}

.myResume{
    text-align: center;
    padding: 20px;
}

.myResume a{
    text-decoration: none;
    border: 2px solid deepskyblue;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.myResume a:hover{
    background-color: deepskyblue; 
    zoom:100%;
}

.skills {
    display: grid;
    margin-left: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.skills img{
    cursor: pointer;
    width: 80px;
}

.skills img:hover{
    zoom: 95%;
}

.Accomplishments{
    margin-left: 60px;
    text-align: center;
}

.move{
    margin-left: 60px;
}

.smiley {
    background-color: gold;
    /* background-clip: text; */
    border-radius: 50%;
    font-size: 20px;
}






/* SERVICES PAGE || SECTION3 */
.section3 {
    background-color: aliceblue;
    padding-bottom: 100px;
}


.container {
    width: 100%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


div.box {
    padding: 10px;
    text-align: center;
    margin: 20px;
    background-color: white;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow:  3px 3px 4px lightgray,
                -3px -3px 4px lightgray;
}

div.box:hover {
    box-shadow:  2px 2px 4px black,
                -2px -2px 4px black;
}

div.icon {
    width: 100%;
}

.box p{
    text-align: center;
    padding: 15px;
    line-height: 25px;
}


label {
    font-size: larger;
    color: black;
    font-weight: bold;
}

p {
    font-size: medium;
    line-height: 1.2;
    color: black;
}

.rainbow {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: transparent;
    background-clip: text;
}




/* PROJECT PAGE || SECTION 4   */
.section4{
    background-color: aliceblue;
    margin-top: 80px;
    padding-bottom: 100px;
}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    border: 1px solid black;
    height:300px;
    width: 100%;
    background-size: cover;
}

.img-text-wrapper{
    position: absolute;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 450ms;
}

.img-text-wrapper:hover{
    transform: scale(1.1);
}

.img-text-wrapper:hover .subtitle a{
    text-decoration: none;
    /* text-transform: uppercase; */
    color: black;
    font-size: medium;
    font-weight: bold;
    /* zoom:90%; */
    text-decoration: none;
    background-color: deepskyblue;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.img-text-wrapper .subtitle a{
    color:transparent;
}

.img-text-wrapper .subtitle a .internet{
    color:transparent;
}

.img-fade{
    filter:brightness(10%);
}

.project-work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    gap: 30px;
    width: 90%;
}






/* CONTACT PAGE || SECTION 5 */
.section5{
    background-color: aliceblue;
    margin-top: 80px;
    padding-bottom: 30px;
}

.form-control{
    padding: 10px;
}

.touch{
    font-size: larger;
}


.submit{
    width: 100%; 
    padding: 10px;
    text-decoration: none;
    border: 2px solid deepskyblue;
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.submit:hover{
    background-color: deepskyblue;
    zoom:100%
}


/* SOCIAL MEDIA */
.Socials{
    padding-top: 30px;
}

.socials{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    text-decoration: none;
    border-radius: 10px;
}

.socials a{
    transition: transform 450ms;
}

.socials a:hover{
    transform: scale(1.1);
}

.reach{
    font-size: large;
    color: black;
}

.locationEmail{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}




@media screen and (max-width:1000px) {
    .contact{
        padding-left: 30px;
        padding-right: 30px;
    }
}



@media screen and (max-width: 800px) {
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

    body {
        background-color: lightblue;
        color: black;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }


    /* HOME HEADING || SECTION 1*/
    .section1 {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }

    .section1 a:hover,
    .section2 a:hover {
        transform: scale(1.05);
    }

    .welcome {
        margin-top: 20px;
        margin-left: 20px;
    }

    .name {
        font-size: 35px;
    }

    .large{
        color: white;
        font-weight: lighter;
        font-size: larger;
    }

    .section1 p:last-of-type {
        font-size: larger;
    }




    /* ABOUT PAGE || SECTION 2 */
    .write-up {
        display: flex;
        justify-content: center;
    }

    .write-up2 {
        width: 430px;
        padding: 20px;
    }

    .write-up2 p{
        font-size: 14px;
    }

    .write-up2 img {
        width: 80%;
        padding: 10px;
    }
    
    .myPic{
        width: 100%;
        height: auto;
    }

    .separate {
        flex-direction: column;
    }

    .move{
        margin-left: 0;
    }
    
    .skills {
        margin: 0;
        gap: 0;
    }

    .skillsets{
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .skills img:hover{
        zoom: 150%;
    }

    .skillPadding {
        margin-right: 0;
    }
    
    .flex {
        flex-direction: column;
        text-align: justify;
        gap: 50px;
    }

    .Accomplishments{
        text-align: left;
    }
    
    .parent{
        margin-left: 130px;
    }




    /* SERVICES PAGE || SECTION3 */
    .col-6,
    .col-4,
    .col-5,
    .col-7 {
        width: 100%;
        margin: 10px;
    }

    .col-3 {
        width: 50%;
        text-align: center;
    }

    .box p{
        font-size: 14px;
    }



    /* PROJECT PAGE || SECTION 4   */ 
    .project-work{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        gap: 50px;
    }


    .img-text-wrapper:hover .subtitle a{
        text-decoration: none;
        color: black;
        font-size: medium;
        font-weight: bold;
        zoom:90%;
    }

    .portfolio-img-background{
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .todo{
        width: 100%;
        background-size: contain;
        background-position: center;
    }




    /* CONTACT PAGE || SECTION 5 */ 
    .form-label{
        font-size: medium;
    }

    .contact{
        margin: 0 auto;
    }

    .touch{
        font-size: medium;
    }
    
    .reach{
        font-size: medium;
    }

    .contact{
        padding: 0;
    }

    /* SOCIALS */
    .locationEmail{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}