@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    --buttoncolor: blue;
    --background: lightblue;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/Just\ Me.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: black;
    /* width: fit-content; */
}

.description {
    color: azure;
    font-size: smaller;
}

.welcome {
    margin-top: 90px;
    margin-left: 20px;
}

.section1 {
    margin-top: -30px;
    color: azure;
    background-attachment: fixed;
    text-align: center;
}

/* SECTION1 STYLING */
.span a {
    margin-top: 0px;
    color: black;
    font-weight: bold;
    background-color: deepskyblue;
    padding: 6px 40px;
    border-radius: 20px;
    text-decoration: none;
}

.section1 a:hover,
.section2 a:hover {
    zoom: 110%;
}


.container {
    width: 100%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

div.box {
    padding: 10px;
    text-align: center;
    margin: 20px;
    border: 1px solid lightblue;
    background-color: white;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow:  3px 3px 4px lightgray,
                -3px -3px 4px lightgray;
}

div.icon {
    width: 100%;
}

label {
    font-size: larger;
    color: black;
    font-weight: bold;
}

p {
    font-size: medium;
    line-height: 1.2;
    color: black;
}

.box p{
    text-align: center;
    padding: 15px;
    line-height: 25px;
}

.section1 .collectibles {
    color: deepskyblue;
    text-shadow: 2px 2px black;
    font-weight: bold;
    padding: 30px 36px;
    text-decoration: none;
    font-size: 1.9rem;
}

.navbar-expand-md {
    background-color: deepskyblue;
    background-image: linear-gradient(to bottom, white, transparent);
}

.name {
    font-size: xx-large;
    font-weight: bold;
}

.section1 p {
    font-size: 1.3rem;
}

.write-up2 {
    width: 800px;
    padding: 50px;
}

.write-up2 img {
    width: 100%;
}

.write-up2 p {
    line-height: 25px;
}

.write-up {
    position: relative;
    display: flex;
    justify-content: center;
}

.flex {
    gap: 50px;
    text-align: justify;
}


.myResume{
    text-align: center;
}

.myResume a{
    text-decoration: none;
    border: 2px solid deepskyblue;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.myResume a:hover{
    background-color: deepskyblue;
    zoom:100%
}

.achievements{
    display: flex;
    justify-content: space-evenly; 
    font-size: larger;
}

.project-work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    gap: 30px;
    width: 90%;
}

/* SECTION2 STYLING */
.section2 {
    background-color: #e0f1fc;
    margin-top: 40px;
}

.section3 {
    background-color: aliceblue;
    padding-bottom: 100px;
}

.section4{
    background-color: aliceblue;
    margin-top: 80px;
    padding-bottom: 100px;
}

.section5{
    background-color: aliceblue;
    margin-top: 80px;
    padding-bottom: 30px;
}


.skills {
    display: grid;
    margin-left: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.skills img{
    cursor: pointer;
    width: 100px;
}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    border: 1px solid black;
    height:300px;
    width: 100%;
    background-size: cover;
   }

.img-text-wrapper{
    position: absolute;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 200px;
}

.img-text-wrapper:hover .subtitle a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: white;
    font-size: medium;
    font-weight: bold;
    zoom:90%;
}

.img-text-wrapper:hover .subtitle a .internet{
    color: dodgerblue;
    font-size: x-large;
}

.img-text-wrapper .subtitle a{
    color:transparent;
}

.img-text-wrapper .subtitle a .internet{
    color:transparent;
}

.img-fade{
    filter:brightness(10%);
}

.parent {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 300px;
    z-index: -1;
    background-color: #e0f1fc;
    overflow: visible;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(1) {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: lightblue;
    transform: translateZ(100px);
}

.child:nth-child(2) {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-color: lightblue;
    transform: translateZ(-100px);
}

.skills img:hover{
    zoom: 95%;
}

#pop-up {
    animation: drop 2s ease forwards;
}

.contact{
    justify-content: center;
}

.form-control{
    padding: 10px;
}

.touch{
    font-size: larger;
}

.reach{
    font-size: larger;
}


.socials a:hover{
    box-shadow:  2px 2px 4px dodgerblue,
                -2px -2px 4px dodgerblue;
    zoom: 100%;
}

.socials{
    display: flex;
    justify-content: space-evenly;
}

.submit{
    width: 100%; 
    padding: 10px;
    text-decoration: none;
    border: 2px solid deepskyblue;
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.submit:hover{
    background-color: deepskyblue;
    zoom:100%
}

.rainbow {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: transparent;
    background-clip: text;
}

.smiley {
    background-color: gold;
    border-radius: 50%;
    font-size: 20px;
}

@keyframes drop {
    from {transform: translateY(-300px);}
    to {transform: translateY(50px);}
}

@media screen and (max-width:800px) {
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

    body {
        font-family: 'Montserrat', sans-serif;
        background-color: lightblue;
        color: black;
    }

    .section1 {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }

    .welcome {
        margin-top: 20px;
        margin-left: 20px;
    }

    .large{
        font-size: larger;
    }

    .section1 p:last-of-type {
        font-size: larger;
    }

    .write-up2 {
        width: 430px;
        padding: 10px;
    }

    .write-up2 p{
        font-size: 14px;
    }

    .box p{
        font-size: 14px;
    }

    .write-up {
        display: flex;
        justify-content: center;
    }

    .achievements div{
        font-size: 17px ;
    }

    .skills {
        margin: 0;
    }

    .skillsets{
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .skills img:hover{
        zoom: 150%;
    }

    .achievements{
        display: inline-block;
        font-size: larger;
    }

    .project-work{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        gap: 50px;
    }

    .img-text-wrapper{
        margin-left: -100px;
    }

    .img-text-wrapper:hover .subtitle a{
        text-decoration: underline;
        color: white;
        font-size: medium;
        font-weight: bold;
        zoom:90%;
    }

    .portfolio-img-background{
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .todo{
        width: 100%;
        background-size: contain;
        background-position: center;
    }

    .write-up2 img {
        width: 100%;
        padding: 10px;
    }

    .form-label{
        font-size: medium;
    }

    .contact{
        margin: 0 auto;
    }

    .lead{
        font-size: large;
    }

    .flex {
        flex-direction: column;
        text-align: justify;
        gap: 50px;
    }

    .parent{
        margin-left: 130px;
    }

    .col-6,
    .col-4,
    .col-5,
    .col-7 {
        width: 100%;
        margin: 10px;
    }

    .col-3 {
        width: 50%;
        text-align: center;
    }

    .touch{
        font-size: medium;
    }
    
    .reach{
        font-size: medium;
    }
}